body
    display: flex
    flex-direction: column

header
    position relative
    width: 100%
    height: 340px
    background: black
    img
        background-size: cover;
    i
        color: white
        font-size: 60px !important
        position absolute
        top: 125px;
        left: 180px;

main
    display: flex
    justify-content: center
    flex: 1
    flex-wrap: wrap
    .textbox
        width: 88%
        height: 80px
        // background: #eee
        margin-top: 20px
        .blacktext
            margin-top: 15px
        .datatextbox
        .blacktext
            color: #101010
            font-size: 22px
            .calorienum
                color: #101010
            .calorietext
                color: #8A8A8A 
                font-size: 14px
            .timenum
                 color: #101010
                 margin-left: 20px
            .timetext
                color: #8A8A8A
                font-size: 14px
            .peoplenum
                color: #8A8A8A 
                font-size: 14px
                margin-left: 100px
    .user
        
        display: flex
        justify-content: space-between
        align-items: center
        width: 88%
        height: 80px
        // background: #eee
        // margin-top: -140px
        .userpic
            width: 80px
            height: 80px
            background: #eee
            border-radius: 50%
        .username
            width: 40%
            height: 80px
            // background: blue
            .text
                margin-top: 10px
                color: #101010
                font-size: 18px
            .designer
                margin-top: 20px
                color: #8A8A8A 100%
                font-size: 14px

        .follow
            width: 80px
            height: 35px
            background: #4294ff 
            text-align: center
            line-height: 35px
            color: white
            border-radius: 20px
    button
        background: #4294ff 
        width: 88%
        height: 60px
        border-radius: 30px





            
    

    
    