body
    display flex
    flex-direction: column
main
    flex: 1
    display flex
    flex-direction: column
    flex-wrap: wrap
    align-items: center
    .head
        display: flex
        justify-content: space-evenly
        width: 90%
        height: 50px
        box-sizing: border-box
        border-bottom: 1px solid #DDDDDD 
        div
            width: 33%
            height: 50px
            text-align: center
            line-height: 50px
    .course
        display: flex
        
        flex-wrap: wrap
        justify-content: center
        width: 100%
        height: 616px
        overflow-y: scroll
        // background: red
        
        .text-new
            display: flex
            
            flex-wrap: wrap
            margin-top: 20px
            width: 90%
            height: 245px
            // background: red
            span
                color: #101010 
                font-size: 18px
                width: 100%
                height: 35px
            .outbox-new
                width: 100%
                height: 210px
                border: 1px solid #D1D1D1D1
                border-radius: 15px
                box-sizing: border-box
                .new-top
                    width: 100%
                    height: 150px
                    border-radius 15px 15px 0px 0px
                    background: #e8e8e8e8
                .new-bottom
                    width: 100%
                    height: 60px
                    background: #fff
                    border-radius: 0 0 15px 15px
                    border: 1px solid #fff
                    .blacktext
                        color: #101010 
                    .eeetext
                        font-size: 12px
                        color: #9A9A9A
        

        .coursetext
                width: 90%
                font-size: 18px
                margin-top: 20px
        .coursecontent
                position relative
                margin-top: 10px
                width: 90%
                height: 140px
                background: red
                .blacktext
                    position absolute
                    top: 40px
                    font-size: 20px
                .eeetext
                    position absolute
                    top: 80px
                    font-size: 14px
                

    
